body
{
			padding: 20px;
      /*font: 14px/145% "Helvetica Neue", Helvetica, Arial, Sans-serif;*/
			background: #eeeeee;
      overflow-y: scroll;
}
a, a:link, a:visited { text-decoration: none; }


.floatingSquare
{
	position:absolute;
	top:20px;
	left:20px;
	color:white;
	background-color:#333;
	width:200px;
	height:20px;
	padding:20px;
	-webkit-box-shadow: 0px 0px 5px #444;
}

.button {
   background-image: -webkit-linear-gradient(top, rgba(29,149,224,1) 0%,rgba(6,103,164,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(29,149,224,1) 0%,rgba(6,103,164,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(29,149,224,1) 0%,rgba(6,103,164,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(29,149,224,1) 0%,rgba(6,103,164,1) 100%);
   background-image:         linear-gradient(top, rgba(29,149,224,1) 0%,rgba(6,103,164,1) 100%);
   -webkit-box-shadow: 0px 25px 0px 0px rgba(255,255,255,0.08)inset, 0px 0px 0px 1px rgba(255,255,255,0.3)inset;
      -moz-box-shadow: 0px 25px 0px 0px rgba(255,255,255,0.08)inset, 0px 0px 0px 1px rgba(255,255,255,0.3)inset;
           box-shadow: 0px 25px 0px 0px rgba(255,255,255,0.08)inset, 0px 0px 0px 1px rgba(255,255,255,0.3)inset;
   border: solid 1px rgba(9,81,126,1);
   -webkit-border-radius: 26px;
      -moz-border-radius: 26px;
           border-radius: 26px;
   width: 220px;
   display: inline-block;
   font-size: 21px;
   line-height: 50px;
   text-align: center;
   color: rgba(255,255,255,1);
   font-weight: bold;
   text-shadow: 0px -1px 0px rgba(0,0,0,0.66);
   -webkit-user-select:none;
   cursor: pointer;
}
.button:hover {
   background-image: -webkit-linear-gradient(top, rgba(43,165,240,1) 0%,rgba(6,103,164,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(43,165,240,1) 0%,rgba(6,103,164,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(43,165,240,1) 0%,rgba(6,103,164,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(43,165,240,1) 0%,rgba(6,103,164,1) 100%);
   background-image:         linear-gradient(top, rgba(43,165,240,1) 0%,rgba(6,103,164,1) 100%);
}
.button:active {
   -webkit-transform: translateY(1px);
      -moz-transform: translateY(1px);
           transform: translateY(1px);
}

span {
	line-height: 100%;
}


#histogram {
  display: inline-block;
  width: 500px;
  height: 300px;
  margin: 5px auto;
}

#axis0 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}

#legend {
  display: inline-block;
  position: relative;
  left: 8px;
}

#chart_container {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.widget h4 {
  margin-bottom: 10px;
}

circle {
  fill: none;
  stroke: #398FBD;
}

#bloom {
  height: 325px;
  margin: 15px auto;
}


#countdown {
  margin-left: 35px;
}

.widget #instructions {
  font-size: 36px;
  line-height: 2.0;
}

.connection {
  margin: 15px 15px auto;
  font-size: 20px;
}

.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.before, .before .circle {
  fill: #FFD700;
  stroke: none;
}
.area.after, .after .circle {
  fill: #ADD8E6;
  stroke: none;
}

.chart-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.box .description {
  font-size: 22px;
}

.logo h2 >a {
  font-size: 40px;
}

.widget>header h4 {
  font-size: 28px;
}

.radar-chart .axis .legend {
  font-size: 20px;
}

#eeg_legend_baseline, #ecg_legend_baseline, #eeg_legend_condition, #ecg_legend_condition {
  position: absolute;
  top: 30px;
  right: 40px;
}

text .middle {
  margin: 15px;
}

#radar-legend {
  position: absolute;
  right: 40px;
  font-size: 24px;
}

.widget #before-radar {
  color: #FFD700;
}

.widget #after-radar {
  color: #ADD8E6;
}

#radar-legend {
  position: absolute;
  right: 40px;
  font-size: 24px;
}

.widget #baseline-bar {
  color: rgba(220,220,220,0.5);
}

.widget #condition-bar {
  color: rgb(234, 200, 94);
}

#radar-legend {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
}
